.shadow-text {
  text-shadow: 0px 0px 40px #000;
  color: rgb(255, 255, 255);
}

@media (max-width: 576px) {
  .carousel-inner.con .carousel-item img {
    filter: brightness(50%);
    height: 250px;
    object-fit: cover;
  }
}

@media (min-width: 576px) {
  .carousel-inner.con .carousel-item img {
    filter: brightness(50%);
    max-height: 300px;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .carousel-inner.con .carousel-item img {
    filter: brightness(50%);
    max-height: 550px;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  .carousel-inner.sin .carousel-item img {
    height: 250px;
    object-fit: cover;
  }
}

@media (min-width: 576px) {
  .carousel-inner.sin .carousel-item img {
    max-height: 300px;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .carousel-inner.sin .carousel-item img {
    max-height: 550px;
    object-fit: cover;
  }
}
